.deleteButton {
  color: #df29a4;
  font-size: 14px;
  padding: 4px 20px;
  background: #fff;
  border: 2px solid #df29a4;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteButton:hover {
  background: #df29a4;
  color: #f0e5e5;
}
